[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fabric3 = "*"
autopep8 = "*"

[packages]
django = "==3.0.6"
django-summernote = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"
