{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h4 class="title is-4">Перевод документов</h4>
    <div>
        <p>Нотаризованный перевод документов и составление доверенностей в штате Миннесота - Олег Воскресенский, тел. +1-651-210-4922, имейл: oleg собака voskres.net
        <p>Notarized translation of documents (Birth or Marriage Certificate, Diploma, Driver's License, Power of Attorney, etc.) by Minnesota State Court registered translator - Oleg Voskresensky, tel. +1-651-210-4922, e-mail: oleg "at" voskres.net
    </div>
    <img class="translation" src="{% static 'img/translation.jpg' %}"
</div>
{% endblock content %}